body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial;
}

form {
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
}

input {
    padding: 8px;
}

button {
    padding: 8px 15px;
}